<!doctype html>
<!--[if lt IE 7]>      <html ng-app="serverAttendApiApp" lang="ja" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="serverAttendApiApp" lang="ja" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="serverAttendApiApp" lang="ja" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="serverAttendApiApp" lang="ja" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title><%= __('APP_NAME') %> <%= __('VERSION_STRING') %> - <%= __('Attendance Management System') %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="app/629bdf98.vendor.css"/>
    <link rel="stylesheet" href="app/e31f5bba.app.css"/>
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-view=""></div>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="app/74d77e3b.vendor.js"></script>

        <script src="app/24e94120.app.js"></script>
</body>
</html>
